*{
    margin:0;
}
header{
    background-color: grey;
}
h1{
    float:left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
header::after{
    content:'';
    display:table;
    clear:both;
}



nav{
    float:right;
}
li{
    display:inline-block;
}
nav ul{
    margin:0;
    padding:0;
}
nav li{
    margin-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding-top:10px;
}
li::before{
    content:'🎉';
}
h1:hover{
    background-color: rgb(136, 240, 231);
    font-family:cursive;
    font-size: larger;
}
li:hover{
    background-color: rgb(136, 240, 231);
    font-family:cursive;
    font-size: larger;
}
li:hover::before{
    content:'❤️';
    
}


.block{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
   
    background-size: cover;
    background-position: center;
}
.box{
    
        max-width: 1500px;
        height: 400px;
        background-color: powderblue;
      
}
.image{
    width:1500px;
    height: 400px;
}
.text-block {
    position: absolute;
    bottom: 200px;
    right: 20px;
    background-color: rgb(104, 102, 231);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .line{
      margin:5px;
      height:250px;
      width:10px;
      left:200px;
      position:absolute;
      background-color: rgb(247, 192, 192);

  }
  h3{
      font-size: x-large;
    color:rgb(247, 192, 192);
    font-family:cursive;
    margin-top:40px;
  }
  h2{
    font-size: x-large;
  color:rgb(247, 192, 192);
  font-family:cursive;
  margin-top:40px;
}
  p{
      margin-top: 0;
      margin-left: 220px;
      text-align: center;
      font-size: x-large;
      font-family: cursive;
  }
  .flex-item {
    /* makes each one 45%, putting 10% between each element on the page */
    margin-left:220px;
    width:600px;
    height: 200px;
    
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    /* puts space between each one vertically */
    margin-top: 60px;
   
    background-image: url("d.jpg");
    /* tells background to fit box no matter what */
    background-size: cover;
    /* crops it at the center */
    background-position: center;
    /* padding top and bottom 20px, 0 for left/right */
    padding: 20px 0;
    /* sets minimum height value so there's room */
   
  
 
  }
  .flex-item:hover{
      background-color: rgb(255, 255, 255);
  }
  span{
      margin-top:15px;
      background-color: grey;
      width:30%;
  }
  span:hover{
      background-color: yellow;
  }
  .flex-item1 {
    /* makes each one 45%, putting 10% between each element on the page */
    margin-left:450px;
    width: 400px;
    height:100px;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    /* puts space between each one vertically */
    margin-top: 60px;
   
    background-image: url("light.jpg");
    /* tells background to fit box no matter what */
    background-size: cover;
    /* crops it at the center */
    background-position: center;
    /* padding top and bottom 20px, 0 for left/right */
    
  
 
  }
  .line1{
      margin-top: 10px;
    margin:5px;
    height:480px;
    width:10px;
    left:200px;
    position:absolute;
    background-color: rgb(247, 192, 192);

}
  .flex-item2 {
    /* makes each one 45%, putting 10% between each element on the page */
   margin-top: 110px;
    width: 400px;
    height:100px;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;

  
   
    background-image: url("pic3.png");
    /* tells background to fit box no matter what */
    background-size: cover;
    /* crops it at the center */
    background-position: center;
    /* padding top and bottom 20px, 0 for left/right */
    
  
 
  }
  .flex-container{
      display:grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 600px 600px;
  
  }
  aside h3{
      margin-top: 40px;
    font-size: x-large;
    color:rgb(247, 192, 192);
    font-family:cursive;
    

  }
  .flex-item3 {
    /* makes each one 45%, putting 10% between each element on the page */
   margin-top: 220px;
    width: 275px;
    height:150px;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    background-image: url("Run.png");
    /* tells background to fit box no matter what */
    background-size: cover;
    /* crops it at the center */
    background-position: center;
    /* padding top and bottom 20px, 0 for left/right */
    
  
 
  }
  .flex-item4 {
    /* makes each one 45%, putting 10% between each element on the page */
   margin-left: 300px;
  
 width: 275px;
    height:125px;
    /* rounded corners */
    border-radius: 14px;
    border: 4px solid #fb3e55;
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
     background-image: url("calc.jpg");
    /* tells background to fit box no matter what */
    background-size: cover;
    /* crops it at the center */
    background-position: center;
    /* padding top and bottom 20px, 0 for left/right */
    
  
 
  }
  .line5{
 
  margin:5px;
  height:200px;
  width:10px;
  left:200px;
  position:absolute;
  background-color: rgb(247, 192, 192);

}
h4{
    font-size: x-large;
  color:rgb(247, 192, 192);
  font-family:cursive;
  margin-top:40px;}
  aside{
      margin-left: 250px;
      display:inline-block;
      float:right;
  }
 /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    margin-top: 60px;
    background-color: rgb(252, 246, 246);
   
  
   
    width: 400px;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
  
    float: left;
    display: block;
    color: #470303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  
  .line7{
 
    margin:5px;
    height:200px;
    width:10px;
    left:200px;
    position:absolute;
    background-color: rgb(247, 192, 192);
  
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

